@import '~@src/scss/_constants';

.user-list {
  .form-group {
    max-width: 13rem;

    .form-control-label {
      color: $color-gray;
      display: inline-block;
      font-style: italic;

      span {
        font-size: 0.875rem;
      }
    }
  }
}
