// fonts
$font-primary: 'Source Sans Pro', sans-serif;

// colors
$color-cyan: #0ff;
$color-dark-gray: #343a40;
$color-gray: #777;
$color-off-white: #f1f1f1;
$color-light-gray: #e2e2e2;
$color-purple: #800080;
$color-super-light-gray: #e1e1e1;
$color-white: #fff;

// borders
$border-light-gray-dotted: 0.0625rem dotted $color-super-light-gray;
