@import '~@src/scss/_constants';

.header {
  background: $blue-bar;
  box-shadow: 0 0.07rem 0.07rem rgba(0, 0, 0, 0.6);
  color: $color-white;
  display: flex;
  height: 3.125rem;
  text-shadow: 0 -0.0625rem $color-black;

  .desktop-menu {
    border-right: $border-light-blue;
    display: inline-block;
    list-style: none;

    li {
      border: {
        left: $border-light-blue;
        right: $border-dark-blue;
      }

      float: left;
      line-height: 3.125rem;
      margin-bottom: 0;
    }

    a {
      color: $color-white;
      display: inline-block;
      line-height: 3.125rem;
      padding: 0 1.5rem;
      text-decoration: none;
      transition: all 0.2s;

      @media screen and (prefers-reduced-motion: reduce) {
        transition: none;
      }

      &:hover,
      &:focus {
        background: $color-off-white;
        color: $color-orange;
        text-shadow: none;
      }
    }
  }
}
