// fonts
$font-primary: 'Droid Sans', sans-serif;

// colors
$color-black: #000;
$color-blue-primary: #1967d2;
$color-blue-secondary: #336b9b;
$color-dark-blue: #204361;
$color-dark-gray: #343a40;
$color-gray: #575757;
$color-light-blue: #4085c0;
$color-off-white: #fcfcfc;
$color-orange: #ff5000;
$color-red: #d21500;
$color-super-light-gray: #e1e1e1;
$color-white: #fff;

// borders
$border-dark-blue: 0.0625rem solid $color-dark-blue;
$border-light-blue: 0.0625rem solid $color-light-blue;
$border-light-gray: 0.0625rem solid $color-super-light-gray;
$border-light-gray-dotted: 0.0625rem dotted $color-super-light-gray;

// gradients
$blue-bar: linear-gradient($color-blue-primary, $color-blue-secondary);

// media queries
$mobile-breakpoint: 768px;
