* {
  margin: 0;
  padding: 0;
}

html {
  background: $color-off-white;
  font-size: 100%;
}

body,
html,
.main-content {
  height: 100%;
}

#root {
  min-height: 100%;
  position: relative;
}

p,
h1,
h2,
li,
th,
td {
  font-family: $font-primary;
}

h2 {
  color: $color-dark-gray;
  font-size: 1.25rem;
  margin-bottom: 0.9375rem;
}

p,
li {
  color: $color-gray;
  margin-bottom: 0.625rem;
}

a {
  color: $color-blue-primary;
  text-decoration: none;
  transition: color 0.2s;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }

  &:focus,
  &:hover {
    color: $color-orange;
  }
}

.t-heavy {
  font-weight: 700;
}

.main-content {
  padding-bottom: 3.125rem;
}

.gray-rule {
  border: $border-light-gray-dotted;
  border-bottom: none;
}
